

body{
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.contenedor-admin{
    height: 100px;
    
    color: white;
    background: #16222A;  /* fallback for old browsers */


}

.contenedor{
    margin-top: 15%;
   
}

.row{
    height: 70%;
    
}


.contenedor-tabla{
    height: 200px;
    border: 2px solid;
    width: 30%;
    color: white;
    margin-top: 10%;
    width: 300px;
    overflow-y: scroll;
    
   
    
    
}

table{
    
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


.contenedor-botones{

    display: inline-block;
    margin-bottom: 100px;
    padding: 10px;
}

.btn{
    margin-left: 10%;
    margin-top: 45px;
    display: block;
 
}

.boton{
    height: 10px;
}




@media (max-width:1000px){
   
    .contenedor-tabla{
        margin-left: 5%;
    }
}

button, input[type = "file"] {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
   
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 2px solid black;
    box-shadow: 0 0 0 0 black;
    width: 300px;
  }
  
  button,input[type = "file"]:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
  };
  
  button,input[type = "file"]:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  };
  


  


