*{
    box-sizing: border-box;
}



.contenedor-principal{
    position: relative;
    margin-top: 10%;
    margin-left: 100px;
    border: 2px solid black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    width: 80%;
    height: 500px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    
}


.titulo {
    position: absolute;
    left: 50%;
    top: 0px;
    margin-top: 0%;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #37D6FE;
    text-shadow: 1px 1px #37D6FE;
    background-image: linear-gradient(45deg, #00B8E7, #0498BD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.contenedor-decoracion{
    
    background-image: url("g.png");
    background-attachment: static;
    background-repeat: no-repeat;
    background-position: 50%;
    
    width: 100%;
    height: 50%;
    border-radius: 5px;
    position: absolute;
   
}

.contenedor-formulario{
   
    position: absolute;
    background-color: #EEF6F8;
    width: 100%;
    height: 50%;
    top: 50%;
    border-radius: 5px;
    
   
}

form{
    position:absolute;
    margin-top: 50px;
    left: 10%;
    width: 80%;
    font-family: "Pacifico", cursive;
    
    
}

.formulario input[type = "text"],
.formulario input[type = "password"]
{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 12px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    
   
}

.formulario input[type = "submit"]{
    margin-top: 20px;
    left: 50px;
    background: transparent;
}



